
<br/>
<div class="blog" markdown="1">

## Brain thoughts technically exist below
  
<br/>
{% for post in site.posts %}
  
<div class="blog-name" markdown="1">
### {{ post.title }}
</div>
<div class="blog-name" markdown="1">
{% assign d = post.date | date: "%-d" %}
{{ post.date | date: "%A" }} 
{% case d %}{% when "1" or "21" or "31" %}{{ d }}st{% when "2" or "22" %}{{ d }}nd{% when "3" or "23" %}{{ d }}rd{% else %}{{ d }}th{% endcase %} 
{{ post.date | date: "%B %Y (%P)" }}
</div>
<div class="blog-name" markdown="1">
{{post.summary }}
</div>
  
{% endfor %}

</div>
