<header>
  <nav class="header" role="navigation">
    <div class="header__button header__button--home">
      <a href="{{ "/jazz.lol/index.html" | relative_url }}"><img src="{{ "/jazz.lol/assets/img/homebutton.png" | relative_url }}" /></a>
    </div>
    <div class="header__button header__button--me">
      <a href="{{ "/jazz.lol/me.html" | relative_url }}"><img src="{{ "/jazz.lol/assets/img/mebutton.png" | relative_url }}" /></a>
    </div>
    <div class="header__button header__button--writing">
      <a href="{{ site.baseURL }}/writing.html"> <img src="{{ site.baseURL }}/assets/img/writingbutton.png" /></a>
    </div>
    <div class="header__button header__button--performance">
      <a href="{{ "/jazz.lol/performance.html" | relative_url }}">
        <img src="{{ "/jazz.lol/assets/img/performancebutton.png" | relative_url }}" /></a>
    </div>
    <div class="header__button header__button--web">
      <a href="{{ "/jazz.lol/web.html" | relative_url }}"> <img src="{{ "/jazz.lol/assets/img/webbutton.png" | relative_url }}" /></a>
    </div>
    <div class="header__button header__button--contact">
      <a href="{{ "/jazz.lol/contact.html" | relative_url }}"></a>
      <img src="{{ "/jazz.lol/assets/img/contactbutton.png" | relative_url }}" /></a>
    </div>
  </nav>
</header>
