<header>
   <nav class="header" role="navigation">
      <div class="header__button header__button--home">
         <a href="/index.html"><img src="/assets/img/homebutton.png" /></a>
      </div>
      <div class="header__button header__button--me">
         <a href="/me.html"><img src="/assets/img/mebutton.png" /></a>
      </div>
      <div class="header__button header__button--writing">
         <a href="writing.html"> <img src="/assets/img/writingbutton.png" /></a>
      </div>
      <div class="header__button header__button--performance">
         <a href="/performance.html">
            <img src="/assets/img/performancebutton.png"
         /></a>
      </div>
      <div class="header__button header__button--web">
         <a href="/web.html"> <img src="/assets/img/webbutton.png" /></a>
      </div>
      <div class="header__button header__button--contact">
         <a href="/contact.html">
            <img src="/assets/img/contactbutton.png"
         /></a>
      </div>
   </nav>
</header>
