<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
  <link rel="stylesheet" href="https://use.typekit.net/rgq8btn.css">
</head>

<body class="page page-{{page.name | replace: ".md", "" }}">
{% include header.html %}
  <main>

    {{ content }}


  </main>
</body>

</html>