<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="https://use.typekit.net/rgq8btn.css">
</head>

<body class="page page-{{page.name | replace: ".md", "" }}">
{% include header.html %}
  <main>

    {{ content }}

    <br/><br/>
    <a class="twitter-timeline" data-width="300" data-height="500" data-theme="light" href="https://twitter.com/jazzchatfield?ref_src=twsrc%5Etfw">Tweets by jazzchatfield</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </main>

  
</body>

</html>